/* Back to top
   ========================================================================== */

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: $blue url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	&:hover {
		opacity: 1;
		background-color: darken($blue, 10%);
		border-color: darken($blue, 10%);
		transition: 0.2s ease-out;
	}

	@media screen and (max-width: 767px) {
		display: none !important;
	}
}