/* Font Color
   ========================================================================== */

$font-gray: #7c7c7c;
$font-blue: #3ec4f9;
$font-black: #1f1f1f;
$font-white: #ffffff;
$font-footer-gray: #828282;

/* Color Scheme
   ========================================================================== */

$dark-blue: #103547;
$blue: #37b0e9;
$white: #ffffff;
$black: #1f1f1f;
$gray: #7c7c7c;
$yellow: #e5dc33;